html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F3E5;
}

.port-form, #map {
	display: inline-block;
}

.port-form {
	position: fixed;
	top: 50;
	left: 30;
  font-size: 18px;
  font-family: 'Varela Round', 'Lato', sans-serif;
  width: 460px;
  margin-top: 40px;
}

#map {
	position: absolute;
	top: 0;
	left: 320px;
  width: 70.6%;
  height: 100%;
  margin-left: 150px;
  padding: 0;
}

#port-info {
  margin-left: 25px;
}

label {
  margin-top: 20px;
  margin-bottom: -70px;
}

textarea {
  margin-bottom: 20px;
}

#cor-list, #id-list, label {
  display: block;
	width: 410px;
	height: 100px;
  padding: 0;
}

input[name=pname]{	
	width: 410px;
}

input[type=text],
textarea {
  font-size: 18px;
}

input[type=submit] {
  background-color: #5C98CC;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: #98CDF8;
}

#box-1,
#box-2 {
  display: inline-block;
  width: 38%;
  padding: 2px;
}

#box-2 {
  margin-left: 70px;
}

#box-2 input {
  width: 165px;
}

#input-port {
  margin-bottom: 20px;
}