/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
    
#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* The location pointed to by the popup tip. */

.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}
/* The bubble is anchored above the tip. */

.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */
    18px;
    left: 0;
}
/* Draw the tip. */

.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: /* TIP_HEIGHT= */
    20px solid white;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
/* The popup bubble itself. */

.popup-bubble-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    background-color: #4286f4;
    padding: 5px;
    border-radius: 0px;
    font-family: sans-serif;
    color: white;
    overflow-y: auto;
    max-height: 80px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
    /* opacity: 0.8;
filter: alpha(opacity=80);*/
}

#cover-div {
    position: absolute;
    left: 25px;
    top: 10px;
    z-index: 3;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 200;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 200;
    margin-left: 00px;
    padding: 0 5px 0 13px;
    text-overflow: ellipsis;
    width: 120px;
}

div#contentinfo {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    /*min-width: 300px;*/
    width: 470px;
    background: black;
    z-index: 2;
    background-color: #fff;
    opacity: 1;
    filter: alpha(opacity=70);
    overflow: hidden;
}

div#contentinfo iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    overflow: hidden;
}

.collapse-side-panel img {
    position: fixed;
    top: 80px;  
    left: 470px;
    background-color: #5C98CC;
    height: 30px;
    width: 30px;
    margin-top: 70px;
    display: block;
}

#arrow {
    padding-top: 2px;
    padding-right: 2px;
    top: 150px;
}

#cancelBtn {
    padding: 5px;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 999;
    position: fixed;
    top: 30%;
    left: 45%;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Loader 1- Spinning */

#loader-1 #loader {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 20vw;
    width: 20vw;
    margin: -10vw 0 0 -10vw;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    border-radius: 50%;
    z-index: 6;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader-1 #loader:before {
    content: "";
    position: fixed;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    border: 3px solid transparent;
    z-index: 6;
    border-top-color: #db213a;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader-1 #loader:after {
    content: "";
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border: 3px solid transparent;
    border-top-color: #dec52d;
    z-index: 6;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
/*Keyframes for spin animation */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(180deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(180deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(180deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(180deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 170px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #5C98CC;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #98CDF8;
}

.containerSearch {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
    width: 100%;
}

.col-75 {
    padding: 2px;
    width: 100%;
    margin-top: 1px;
}
/* Clear floats after the columns */

.rowSearch:after {
    display: table;
}

#logo {
        z-index: 8;
        position: fixed;
        bottom: 2%;
        left: 88%;
        margin-top: -50px; /* assuming that #mydiv has the height of 100px */
        margin-left: -100px; /* assuming that #mydiv has the width of 200px */
}

.empty {
    color: gray;
}

select option {
    color: #000000;
}
/* Responsive layout - when the screen is less than 450px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 450px) {

    #cover-div {
      left: 0;
      top: 0;
      width: 100%;
    }

    select[name=line],
    input[type=text] {
        display: inline-block;
    }

    select[name=line] { 
        margin-top: 2px;
        margin-left: 3px;
        width: 36%;
        -webkit-appearance: none;
    }

    input[type=text] {
        width: 60%;
        margin-left: 3px;
        -webkit-appearance: none;
    }

    input[type=submit] {
        width: 98%;
        margin-top: 7px;
        margin-bottom: 3px;
        margin-left: 3px;
        font-size: 16px;
        -webkit-appearance: none; /* So that iOS won't render buttons and input by default style*/
    }

    div#contentinfo {
      margin-top: 300px;
      width: 100%;
      -webkit-overflow-scrolling: touch !important;
      overflow-y: scroll !important;
    }

    .collapse-side-panel img {
      left: 70%;
      top: 250px;
      bottom: 0;
    }

    #arrow {
        top: 200px;
        left: 270px;
        z-index: 20;
    }

    #cancelBtn {
      top: 240px;
      left: 90%;
      z-index: 21;
    }

    #logo {
        height: 50px;
        top: 145px;
        left: 110px;
    }

    #logo img {
        width: 30%;
    }
}


@media screen and (min-width:450px) {

    #contentinfo {
      margin-top: 70px;
    }

}

@media screen and (orientation: landscape) {
    input[type=submit],
    input[type=text],
    select[name=line] {
        -webkit-appearance: none; /* So that iOS won't render buttons and input by default style*/
    }
}
